DB_HOST=localhost
DB_USER=user
DB_PASSWORD=user
DB_PORT=3310
DB_NAME=restaurantdb
DB_DIALECT=mysql
DB_SYNC_MODE=none

PORT=3001

NODE_ENV=production
JWT_ACCESS_SECRET=restaurant_access_secret
JWT_REFRESH_SECRET=restaurant_refresh_secret
